<h1>score board</h1>


<%= link_to 'new score(DEBUG)', new_score_path %>

<table>
  <tr>
    <th>score</th>
    <th>player</th>
    <th></th>
  </tr>

  <% @scores.each do |score| %>
    <tr>
      <td><%= score.score %></td>
      <td><%= score.player %></td>
      <td><%= link_to 'Show(DEBUG)', score_path(score) %></td>
      <td><%= link_to 'Edit(DEBUG)', edit_score_path(score) %></td>
      <td><%= link_to 'Destroy(DEBUG)', score_path(score),
                method: :delete %></td>
    </tr>
  <% end %>
</table>
